#main_container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;	
	justify-content: center;
	align-items: center; /*alinhament horizontal */
	align-content: center; /*alinhamento vertical*/
}